@using de.springwald.xml.rules.dtd
@using de.springwald.xml.rules
@using de.springwald.xml.editor
@using System.Linq
@implements IDisposable

@if (this.errorMessage != null)
{
    <p>Error: this.errorMessage</p>
}

<form>
    @if (this.actualNodeDtdElement != null)
    {
        @foreach (var attribut in this.actualNodeDtdElement.Attributes)
        {
            <div class="form-group row">

                @{
                    string id = new Guid().ToString();
                }

                <label for="@id" class="col-sm-2 col-form-label">@attribut.Name</label>
                <div class="col-sm-10">
                    @if (attribut.AllowedValues.Any()) //  the content comes from a predefined list of values
                    {
                        <select id="@id" class="form-control selectpicker" @onchange="(async (e) => await this.ValueSelected(attribut.Name, ((ChangeEventArgs)(e)).Value as string))">
                            @if (actualNode.Attributes[attribut.Name] == null || string.IsNullOrEmpty(actualNode.Attributes[attribut.Name]?.Value))
                            {
                                <option selected="selected">--select--</option>
                            }
                            else
                            {
                                @if (attribut.Mandatory == DtdAttribute.MandatoryTypes.Optional)
                                {
                                    <option selected="@(string.IsNullOrEmpty(actualNode.Attributes[attribut.Name]?.Value) ? true : false)" value=""></option>
                                }
                            }
                            @foreach (var value in attribut.AllowedValues)
                            {
                                <option selected="@(value == actualNode.Attributes[attribut.Name]?.Value ? true : false)">@value</option>
                            }
                        </select>
                    }
                    else  // Content is free
                    {
                        <input id="@id" class="form-control" type="text" value="@actualNode.Attributes[attribut.Name]?.Value"
                               @oninput="(async (e) => await this.ValueSelected(attribut.Name, ((ChangeEventArgs)(e)).Value as string))"
                               @onchange="(async (e) => await this.ValueSelected(attribut.Name, ((ChangeEventArgs)(e)).Value as string))" />
                    }
                </div>
            </div>
        }
    }
</form>

@code {

    [Parameter]
    public EditorContext EditorContext { get; set; }
    private EditorState EditorState => this.EditorContext?.EditorState;

    private string[] attributes;
    private System.Xml.XmlNode actualNode;
    private DtdElement actualNodeDtdElement;
    private string errorMessage;

    private async Task ValueSelected(string name, string value)
    {
        if (string.IsNullOrEmpty(value))
        {
            (this.actualNode as System.Xml.XmlElement).RemoveAttribute(name);
        }
        else
        {
            (this.actualNode as System.Xml.XmlElement).SetAttribute(name, value);
        }
        this.StateHasChanged();
        await Task.CompletedTask;
    }

    protected override Task OnInitializedAsync()
    {
        this.EditorState.CursorRaw.ChangedEvent.Add(this.ShowAttributes);
        return base.OnInitializedAsync();
    }

    public void Dispose()
    {
        this.EditorState.CursorRaw.ChangedEvent.Remove(this.ShowAttributes);
    }

    private async Task ShowAttributes(EventArgs eventArgs)
    {
        if ((this.EditorState != null) && (this.EditorState.RootNode != null)) // genug Daten, um Attribute aufzulisten
        {
            if (this.EditorState.CursorRaw.StartPos.Equals(this.EditorState.CursorRaw.EndPos))  //  kein Bereich gewählt
            {
                // Herausfinden, für welchen Node die Attribute angezeigt werden sollen
                switch (this.EditorState.CursorRaw.StartPos.PosOnNode)
                {
                    case XmlCursorPos.XmlCursorPositions.CursorInsideTheEmptyNode:
                    case XmlCursorPos.XmlCursorPositions.CursorOnNodeEndTag:
                    case XmlCursorPos.XmlCursorPositions.CursorOnNodeStartTag:
                        // Der Node selbst ist selektiert
                        this.actualNode = this.EditorState.CursorRaw.StartPos.ActualNode;
                        break;

                    case XmlCursorPos.XmlCursorPositions.CursorInsideTextNode:
                        this.actualNode = this.EditorState.CursorRaw.StartPos.ActualNode;
                        break;

                    case XmlCursorPos.XmlCursorPositions.CursorBehindTheNode:
                    case XmlCursorPos.XmlCursorPositions.CursorInFrontOfNode:
                        // Wir sind hinter oder vor dem Node, daher werden die Attribute des ParentNodes angezeigt
                        this.actualNode = this.EditorState.CursorRaw.StartPos.ActualNode.ParentNode;
                        break;

                    default:
                        this.actualNode = null;
                        break;
                }

                while (this.actualNode is System.Xml.XmlText) // Wenn es ein Textnode ist
                {
                    this.actualNode = this.actualNode.ParentNode;   // dann die Attribute des Parentnodes anzeigen
                }

                if (this.actualNode == null)
                {
                    this.actualNodeDtdElement = null;
                }
                else
                {
                    this.actualNodeDtdElement = null;   // Die DTD-Info des gewählten Elementes

                    // Die DTD-Definitionen für den aktuellen Node holen
                    try
                    {
                        this.actualNodeDtdElement = this.EditorContext.XmlRules.Dtd.DTDElementByName(this.actualNode.Name, true);
                    }
                    catch (Dtd.XMLUnknownElementException e)
                    {
                        // Debugger.GlobalDebugger.Protokolliere(String.Format("unknown element {0} in {1}->{2}", e.ElementName, this.Name, "AttributeNeuAnzeigen"));  //Eines der bezogenen Elemente ist in der DTD unbekannt
                        this.errorMessage = $"unknown element '{e.ElementName}'";
                    }
                }
            }
            StateHasChanged();
            await Task.CompletedTask;
        }
    }
}
