@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Microsoft.JSInterop
@using de.springwald.xml.blazor.NativePlatform
@using de.springwald.xml.editor
@using de.springwald.xml.blazor.Code
@using CurrieTechnologies.Razor.Clipboard


@if (this.showContextMenu)
{
    <div class="modal" tabindex="-1" role="dialog" style="display: @(this.showContextMenu ? "block" : "none")" @onmousedown="EventClickOutsideContextMenu" @onkeydown="EventOnKeyDown" @onkeydown:preventDefault>
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display:flex; flex-wrap: wrap">
                    xml editor
                    <button type="button" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    <button class="btn" @onclick="MenuClickCopy" @onmousedown:stopPropagation="true" @onmousedown:preventDefault="true">copy to clipboard</button>
                    <button class="btn" @onclick="MenuClickInsert" @onmousedown:stopPropagation="true" @onmousedown:preventDefault="true">insert from clipboard</button>
                    <button class="btn" @onclick="MenuClickCut" @onmousedown:stopPropagation="true" @onmousedown:preventDefault="true">cut to clipboard</button>
                </div>
                @*<div class="modal-footer">Footer</div>*@
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

<div class="xmlEditorBox @this.Class" style="overflow: auto; @this.Style" @ref="_xmlEditorBoxDivReference">
    <div tabindex="0" class="canvasOuter"
            @onmousedown="EventOnMouseDown" @onmousemove="EventOnMouseMove" @onmouseup="EventOnMouseUp"
            @oncontextmenu="HandleRightClick" @oncontextmenu:preventDefault="true"
            @onkeydown="EventOnKeyDown" @onkeydown:preventDefault
            @onfocusout="EventFocusOut"
            @onfocus="EventFocusIn"
            @onfocusin="EventFocusIn"
            @ref="_canvasOuterDivReference">
        <BECanvas Width="@canvasWidth" Height="@canvasHeight" @ref="_canvasReference">
        </BECanvas>
    </div>
</div>

